.contato {
    font-family: var(--fonte);
    background-color: var(--branco);
    padding: 1.5em;
}

.contato__titulo .contato__texto {
    color: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 27px;
    width: 85%;
    color: var(--azul);
    background-image: url(../img/Email.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: 1em;

    font-family: var(--fonte);
    font-weight: 400;
    font-size: 16px;
}
